<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="app">
      <button v-on:click="show=!show">변경하기</button>
      <transition>
        <p v-if="show">Hello Click Counter</p>
      </transition>

      <p>Type 1</p>
      <button @click="value -= 1">-</button>
      <span>{{ value }}</span>
      <button @click="value += 1">+</button>

      <p>Type 2</p>
      <button v-on:click="calcMinus">-</button>
      <span>{{ value }}</span>
      <button v-on:click="calcPlus">+</button>

      <p>{{ message }}</p>
      <input v-model="message" />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
